body {
    padding-left: 5%;
    padding-right: 5%;
}

#root {
    display: flex;
    justify-content: space-between;
    margin-top: 5%; 
}

#root-col-photo {
    display: flex;
    justify-content: center;
}

#photo {
    position: fixed;
    top: 25%;
    height: 55%;
    width: 30%;
}

#card-photo {
    width: 70%;
    height: 300px;
    border: 1px solid black;
    box-shadow: 8px 5px 5px #7b8ab8;
}

.card-body {
    display: flex;
    justify-content: center;
    align-items: center; /*vertical*/
}

#paging-buttons {
    display: flex;
    justify-items: center;
}