<!DOCTYPE html>
<html lang="en">
<head>
   <partial name="~/Views/Shared/AdminPanel/_Header.cshtml"/>
</head>
<body>
    <main>
        @RenderBody()
    </main>
    <partial name="~/Views/Shared/AdminPanel/_AuthFooter.cshtml"/>
</body>
</html>