@using Microsoft.AspNetCore.Identity;
@using E_Learn.DataAccess.Data.Models.User;
@inject SignInManager<AppUser> SignInManager; // буде перевіряти чи ми залогінені
@inject UserManager<AppUser> UserManager;

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User)) // перервіряє чи юзер залогінений
    {
        <li class="nav-item px-3 d-flex align-items-center">
            <a asp-controller="Admin" asp-action="Index" class="nav-link text-body p-0">
                Hello, @UserManager.GetUserName(User);
            </a>
        </li>
        <li class="nav-item px-3 d-flex align-items-center">
            <a asp-controller="Admin" asp-action="Logout" class="nav-link text-body p-0">
                Logout
            </a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark me-2" asp-controller="Admin" asp-action="SignIn">
                <i class="fas fa-key opacity-6 text-dark me-1"></i>
                Sign In
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark me-2" asp-controller="Admin" asp-action="SignUp">
                <i class="fas fa-user-circle opacity-6 text-dark me-1"></i>
                Sign Up
            </a>
        </li>
    }
</ul>